body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

#container {
    width: 300px;
    border: 5px solid #000000;
    padding: 10px;
    border-radius: 10px;
    background-color: #0b7bd7;
}

#display {
    width: 100%;
    height: 70px;
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#full-input {
    font-size: 14px;
    color: #666;
    text-align: right;
}

#current-value {
    font-size: 24px;
    text-align: right;
}


#buttons {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-between;
}

#control-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#clear, #delete {
    width: 50%;
    box-sizing: border-box;
    margin-right: 2%;
}

button {
    width: 70px;
    height: 70px;
    border: 5px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #f3f3f3;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #bdbdbd;
}